@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');
@import "./utilities/variables";

body{
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}

.title{
    font-weight: 300;
    font-size: 2rem;
    color: $Gray;

    span{
        font-weight: bold;
        color: $very-dark-blue;
    }
}

.secondary{
    color: $very-dark-blue;
    font-size: 15px;
    font-weight: 300;
}

.copyright{
    color: Gray;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: $light-blue;
}